
<link rel="stylesheet" href="css/custom.css" />
<div class="container">
    <div class="content">
        <h2>Data binding</h2>
        <div class="content">
            <h3 ng-non-bindable>{{binding}}</h3>
            <iframe width="33%" height="150" src="http://jsfiddle.net/HX3TD/2/embedded/result" frameborder="0"></iframe>
            <iframe width="33%" height="150" src="http://jsfiddle.net/HX3TD/2/embedded/html" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <iframe width="33%" height="150" src="http://jsfiddle.net/HX3TD/2/embedded/js" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <h3>ng-bind <a style="font-size: 0.8em" href="https://code.angularjs.org/1.2.16/docs/api/ng/directive/ngBind">docs</a></h3>
            <iframe width="33%" height="150" src="http://jsfiddle.net/HX3TD/3/embedded/result" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <iframe width="33%" height="150" src="http://jsfiddle.net/HX3TD/3/embedded/html" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <iframe width="33%" height="150" src="http://jsfiddle.net/HX3TD/3/embedded/js" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <h3>Binding to text input <a style="font-size: 0.8em" href="https://code.angularjs.org/1.2.16/docs/api/ng/directive/input">docs</a></h3>
            <iframe width="33%" height="150" src="http://jsfiddle.net/HX3TD/4/embedded/result" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <iframe width="33%" height="150" src="http://jsfiddle.net/HX3TD/4/embedded/html" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <iframe width="33%" height="150" src="http://jsfiddle.net/HX3TD/4/embedded/js" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <h3>Binding to checkbox <a style="font-size: 0.8em" href="https://code.angularjs.org/1.2.16/docs/api/ng/input/input%5Bcheckbox%5D">docs</a></h3>
            <iframe width="33%" height="150" src="http://jsfiddle.net/HX3TD/5/embedded/result" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <iframe width="33%" height="150" src="http://jsfiddle.net/HX3TD/5/embedded/html" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <iframe width="33%" height="150" src="http://jsfiddle.net/HX3TD/5/embedded/js" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <h3>Binding to visible (ng-show and ng-hide) <a style="font-size: 0.8em" href="https://code.angularjs.org/1.2.16/docs/api/ng/directive/ngShow">docs</a></h3>
            <iframe width="33%" height="200" src="http://jsfiddle.net/HX3TD/7/embedded/result" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <iframe width="33%" height="200" src="http://jsfiddle.net/HX3TD/7/embedded/html" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <iframe width="33%" height="200" src="http://jsfiddle.net/HX3TD/7/embedded/js" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <h3>Binding to click (ng-click) <a style="font-size: 0.8em" href="https://code.angularjs.org/1.2.16/docs/api/ng/directive/ngClick">docs</a></h3>
            <iframe width="33%" height="200" src="http://jsfiddle.net/HX3TD/8/embedded/result" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <iframe width="33%" height="200" src="http://jsfiddle.net/HX3TD/8/embedded/html" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <iframe width="33%" height="200" src="http://jsfiddle.net/HX3TD/8/embedded/js" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <h3>Binding to bootstarp class (ng-class) <a style="font-size: 0.8em" href="https://code.angularjs.org/1.2.16/docs/api/ng/directive/ngClick">docs</a></h3>
            <iframe width="33%" height="200" src="http://jsfiddle.net/HX3TD/15/embedded/result" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <iframe width="33%" height="200" src="http://jsfiddle.net/HX3TD/15/embedded/html" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <iframe width="33%" height="200" src="http://jsfiddle.net/HX3TD/15/embedded/js" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
        </div>
        <h2>Handy Directives</h2>
        <div class="content">

            <h3>ng-repeat (for loop) <a style="font-size: 0.8em" href="https://code.angularjs.org/1.2.16/docs/api/ng/directive/ngRepeat">docs</a></h3>
            <iframe width="33%" height="150" src="http://jsfiddle.net/HX3TD/10/embedded/result" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <iframe width="33%" height="150" src="http://jsfiddle.net/HX3TD/10/embedded/html" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <iframe width="33%" height="150" src="http://jsfiddle.net/HX3TD/10/embedded/js" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <h3>ng-pluralize (readability) <a style="font-size: 0.8em" href="https://code.angularjs.org/1.2.16/docs/api/ng/directive/ngPluralize">docs</a></h3>
            <iframe width="33%" height="150" src="http://jsfiddle.net/HX3TD/11/embedded/result" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <iframe width="33%" height="150" src="http://jsfiddle.net/HX3TD/11/embedded/html" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <iframe width="33%" height="150" src="http://jsfiddle.net/HX3TD/11/embedded/js" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

            <h3>ng-init <a style="font-size: 0.8em" href="https://code.angularjs.org/1.2.16/docs/api/ng/directive/ngInit">docs</a></h3>
            <iframe width="33%" height="150" src="http://jsfiddle.net/HX3TD/12/embedded/result" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <iframe width="33%" height="150" src="http://jsfiddle.net/HX3TD/12/embedded/html" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <iframe width="33%" height="150" src="http://jsfiddle.net/HX3TD/12/embedded/js" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
        </div>

        <h2>Filters</h2>
        <div class="content">
            <h3>currency <a style="font-size: 0.8em" href="https://code.angularjs.org/1.2.16/docs/api/ng/filter/currency">docs</a></h3>
            <iframe width="33%" height="150" src="http://jsfiddle.net/bBwnJ/2/embedded/result" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <iframe width="33%" height="150" src="http://jsfiddle.net/bBwnJ/2/embedded/html" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <iframe width="33%" height="150" src="http://jsfiddle.net/bBwnJ/2/embedded/js" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

            <h3>uppercase <a style="font-size: 0.8em" href="https://code.angularjs.org/1.2.16/docs/api/ng/filter/uppercase">docs</a></h3>
            <iframe width="33%" height="150" src="http://jsfiddle.net/bBwnJ/3/embedded/result" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <iframe width="33%" height="150" src="http://jsfiddle.net/bBwnJ/3/embedded/html" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <iframe width="33%" height="150" src="http://jsfiddle.net/bBwnJ/3/embedded/js" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

            <h3>lowercase <a style="font-size: 0.8em" href="https://code.angularjs.org/1.2.16/docs/api/ng/filter/lowercase">docs</a></h3>
            <iframe width="33%" height="150" src="http://jsfiddle.net/bBwnJ/4/embedded/result" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <iframe width="33%" height="150" src="http://jsfiddle.net/bBwnJ/4/embedded/html" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <iframe width="33%" height="150" src="http://jsfiddle.net/bBwnJ/4/embedded/js" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

        </div>
    </div>
</div>