<div class=" container jumbotron">
    <h1>&lt;CODE-FEST&gt;</h1>
    <p>
        This is the Code Fest template project, it contains sample code for both angular and bootstrap<br />
        Each sample is a JSFiddle so feel free to click the "Edit in JSFiddle" link and play around with it.<br />
        Most of the fiddles are ether bootstarp only or angular only to help with the loading time so <a href="http://jsfiddle.net/HX3TD/14/">here</a> is one with both.<br/>
        <br/>
        Don't forget about the <a href="http://valm.actcosys.com:8090/pages/viewpage.action?pageId=1212602">wiki!</a>
    </p>
</div>