<div class="container" ng-init="template=true;">
    <h2>Instructions to add a new page</h2>
    <ol>
        <li>Under <b>templates</b> add a new html file named <b>page.tpl.html</b> (replace "page" with the name of your page)</li>
        <li>
            In the app.js file under <b>js</b> add a new route to the <b>$routeProvider</b> function
            <div class="well">
                <p>
                    config(['$routeProvider', function($routeProvider) {<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;$routeProvider.when('/home', { templateUrl: 'templates/home.tpl.html' });<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;$routeProvider.when('/bootstrap', { templateUrl: 'templates/bootstrap.tpl.html' });<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;$routeProvider.when('/angular', { templateUrl: 'templates/angular.tpl.html' });<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;$routeProvider.when('/template', { templateUrl: 'templates/template.tpl.html'});<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;$routeProvider.when('/testing', { templateUrl: 'templates/testing.tpl.html'});<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;<b>$routeProvider.when('/page', { templateUrl: 'templates/page.tpl.html' });<br /></b><br />
                    &nbsp;&nbsp;&nbsp;&nbsp;$routeProvider.otherwise({ redirectTo: '/home' });
                    }]);
                </p>
            </div>
        </li>
        <li>
            In the <b>index.html</b> file add a new list item to the navbar
            <div class="well">
                &lt;ul class="nav navbar-nav"><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;li ng-class="{active: selectedPage==1}" ng-click="selectedPage=1"><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a href="#/bootstrap">bootstrap&lt;/a><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;/li><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;li ng-class="{active: selectedPage==2}" ng-click="selectedPage=2"><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a href="#/angular">angular&lt;/a><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;/li><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;li ng-class="{active: selectedPage==3}" ng-click="selectedPage=3"><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a href="#/template">template&lt;/a><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;/li><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;li ng-class="{active: selectedPage==3}" ng-click="selectedPage=4"><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a href="#/testing">testing&lt;/a><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;/li><br />
                <b>
                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;li ng-class="{active: selectedPage==5}" ng-click="selectedPage=5"><br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a href="#/page">page&lt;/a><br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;/li><br />
                </b>
                &lt;/ul>
            </div>
        </li>
    </ol>
</div>