<link rel="stylesheet" href="../css/custom.css" />
<div class="container" ng-init="template=true;">
    <h2>Unit Testing</h2>
    <div class="content">
        <p>
            For unit testing we use <a href="http://jasmine.github.io/2.0/introduction.html">jasmine</a> tests run by <a href="http://karma-runner.github.io/0.12/index.html">karma</a>.<br/>
            Unit tests are located at <b>test>unit</b> and can be run bt running the <b>test_unit.bat</b> file
        </p>
    </div>
    <h2>Integration Testing</h2>
    <div class="content">
        <p>
            For integration testing we use <a href="https://github.com/angular/protractor">protractor</a><br />
            Integration tests are located at <b>test>e2e</b> and can be run bt running the <b>test_e2e.bat</b> file (note the project must be running for protractor to work)
        </p>
    </div>
</div>